.header{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    background-color: cadetblue;
}
.bodyimg{
    padding: 100px;
    display:flex;
    flex-wrap:wrap;
    border-radius: 20px;
    background-color: azure;
}
.img{
    border-radius: 20px;
    border: 2px solid;
    margin-right: -40px;
    margin-bottom: -100px;
    transform: scale(0.8);

}
.para{
   margin-left: 50px;
   
}
a:link{
    color:gold
}
a:visited{
    color: goldenrod;
}
.img:hover{
    transform: scale(1);
    fill-opacity: 100;
}